<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
	Get help for this tutorial in several places, listed here:
	<ul>
		<li><a href="http://www.laruby.com/resources">LARuby Resources</a></li>	
		<li><a href="http://guides.rubyonrails.org/">The Rails Guides</a></li>
		<li><a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a></li>
	</ul>
</p>
<p>
	And to get help on this particular sample app, 
	check out <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> book.
</p>
