<div class="center jumbotron">
	<h1>Welcome to the<br>
		Sample-App
	</h1>
	<h2>
		This is the home page for the<br>
		<a href ="http://www.meetup.com/Westside-Rails-Study-Group/">Westside Ruby on Rails Study Group</a>.
		Cool, hu? 
	</h2>
	<%= link_to "Sign up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to image_tag("la_ruby_wider_sample.png", alt: "Rails logo", :class => "logo_styling_bottom"), 
			'http://www.laruby.com', 
			:class => "logo_styling" %>
	</div>
</div>
