<div>
	<%= simple_form_for @user do |f| %>
	  <%= f.input :username, label: 'Your username please' %>
	  <%= f.input :password, hint: 'No special characters.' %>
	  <%= f.input :email, placeholder: 'user@domain.com' %>
	  <%= f.input :remember_me, inline_label: 'Yes, remember me' %>
	  <%= f.button :submit %>
	<% end %>
</div>