@import "bootstrap-sprockets";
@import "bootstrap";


$gray: #666;
$light-gray: #777;
$lighter-gray: #bbb;
$gray-medium-light : #eaeaea;
$white: #fff; 

@mixin  box_sizing {
	-moz-box-sizing: 	border-box;
	-webkit-box-sizing:	border-box;
	box_sizing:			border-box;
}


/* mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing: 	border-box;
	-webkit-box-sizing:	border-box;
	box-sizing:			border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 100px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
	margin-bottom: 10px;
	}
}

a {
	color: $lighter-gray;
}

a:hover {
	color: $light-gray;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $light-gray;
	line-height: 1.5em
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

nav {
	float: right;
}

nav ul li {
	float: left;
	color: $gray;
	display: inherit;
	width: 70px;
	margin-top:  0px;

}

nav ul > li > .dropdown-menu li {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
}

.dropdown {
	width: 100px;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.4em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: $white;
		text-decoration: none;
	}
}

a.logo_styling {
	width: 50%;
	display:block;
	img.logo_styling_top {
		width: 40%;
    	display: inline-block;
    	float: left;
    	margin-right: 10px;
	}
	img.logo_styling_bottom {
		width: 70%;
		display:block;
	}
}

/* sidebar */

aside {
	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

/* forms */

form {
  display: block;
  margin-top: 0em;
  margin-bottom: 2em;
}

input,textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

// .field_with_errors {
// 	@extend .has-errors;
// 	.form-control {
// 		color: $state-danger-text;
// 	}
// }

.field_with_errors {
	@extend .has-error;
 	.form-control {
    	color: $state-danger-text;
  	}
}


.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0px;
}

/* footer */

footer {
	margin-top: 20px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $light-gray;
	a {
		color: $light-gray;
		&:hover {
			color: $gray-darker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/* miscellaneous */
.debug_dump {
	clear:	both;
	float:	left;
	width:	100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */

aside {
	section.user_info {
	margin-top: 20;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $lighter-gray;
	}
}



